/**
 * Custom stylesheet for ufcpredict.stromsy.com.
 */

/* The following image was retrieved from:
 * https://i.ytimg.com/vi/Hpk36AjA8G8/maxresdefault.jpg
 * on Dec 21, 2019
 */
#background-img-ufc {
    background-image: url("/img/ufc-td-garden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: fixed;

    height: 100vh;
    width: 100%;
}

#background-shader {
    background-color: rgb(255, 255, 255, 0.5);
    background-size: cover;

    height: 100%;
    width: 100%;
}

#footer {
    background-color: #fff;
    background-size: cover;
}


#page-content {
    min-height: calc(100vh - 176px);
}
